<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <title>Live Data Plots</title>
    <script type="text/javascript" src="//d3js.org/d3.v4.js"></script>
    <script type="text/javascript" src="/static/plots.js"></script>
  </head>
  <body>
    <header>
      <img src="/static/img/aiaa.png" alt="AIAA logo" class="brand" />
      <h1>Live Data Plots</h1>
    </header>
    <article>
      <table class="boxes">
        <tr>
          <td rowspan="3">
            <span class="boxlabel">Drag to rotate</span>
            <svg id="xyz3d" width="300" height="300"></svg>
          </td>
          <td>
            <span class="boxlabel">X vs. time</span>
            <svg id="x2d" width="600" height="200"></svg>
          </td>
        </tr>
        <tr>
          <td>
            <span class="boxlabel">Box 2</span>
            <img src="/static/img/aiaa.png" />
          </td>
        </tr>
        <tr>
          <td>
            <span class="boxlabel">Box 3</span>
            <img src="/static/img/aiaa.png" />
          </td>
        </tr>
      </table>
    </article>
  </body>
</html>
